@import './fonts.css';

/* color palette */
:root {
  --vt-c-background: #FBFCFD;
  --vt-c-text: #111111;
  --vt-c-elem-dark: #161616;
  --vt-c-elem-red: #FE3602;
  --vt-c-elem-red-muted: #e02e02b6;
  --vt-c-elem-gray: #868686;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-background);
  --color-background-dark: var(--vt-c-elem-dark);

  --color-heading: var(--vt-c-text);
  --color-text: var(--vt-c-text);
  --color-text-white: var(--vt-c-background);
  --color-text-muted: var(--vt-c-elem-dark);
  --color-text-gray: var(--vt-c-elem-gray);
  --color-text-orange-hover: var(--vt-c-elem-red);
  --color-text-orange-active: var(--vt-c-elem-red-muted);

  --color-border-black: var(--vt-c-text);
  --color-border-white: var(--vt-c-background);

  --color-button-disabled: var(--vt-c-elem-gray);

  --base-border-black: 1px solid var(--color-border-black);
  --base-border-white: 1px solid var(--color-border-white);

  --header-height: 88px;
  --section-gap: 160px;

  --base-transition: 0.3s ease;
  --base-transition-ease-in-out: 0.3s ease-in-out;
  --base-transition-fast: 0.1s ease;
  --base-transition-slow: 0.5s ease;

  --default-image-aspect-ratio: 360 / 326;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: 300; */
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Kulim Park', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

h5 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

h6 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
