@font-face {
  font-family: 'Kulim Park';
  src: url('../fonts/kulim-park-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kulim Park';
  src: url('../fonts/kulim-park-700.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
