@import './base.css';

#app {
  margin: 0 0;
  padding: 2rem;
  font-weight: normal;
}

p, h1, h2, h3, h4, h5, h6, span, a {
  letter-spacing: 8%;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: top;
  }

  #app {
    padding: 0 0;
    overflow-x: hidden;
  }
}
