@import './base.css';

#app {
  margin: 0 0;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: top;
    padding-top: var(--navbar-height);
  }

  #app {
    padding: 0 0;
    overflow-x: hidden;
  }
}
